

body {
  margin:0;
  /*font-family:'Source Code Pro', sans-serif;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #777;
  font-size: 75%;
}

a { 
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
a:link, a:visited { 

}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.alert {
  border: 1px solid red;
  border-radius: 4px;
  background: #ffcccc;
  padding: 10px;
  color: #800;
}
/*

a, a:visited {
  color:#FF5949;
  text-decoration:none;
}

a {
  color: #e85500; 
  border-color: #e85500; 
}
a.active { 
  color: #ffffff; border-color: #ffffff; background-color: #e85500;  }

a:hover { 
  color: #ffffff; border-color: #ffffff; background-color: #e85500; }
*/

.tag {

}
.tag.selected { background-color: #c4dae9 }
.tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}
.tag:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}
h2 {
  padding: 5px;
  border-bottom: 3px solid #888;
  text-shadow: 1px 1px 2px rgba(200, 200, 200, 1);
}

ul {
  list-style-type:none;  
}
ul li {
  margin:0;
}
ul.flat li {
  display: inline;
  margin:0 0.1em;
}
.pagination {
  text-align: center;
}
.pagination li {
  display: inline;
  padding: 5px;
}


header {
  text-align:center;
}

ul.collapsed li {
  display: none;
}
p {
  margin:1em 0;
  color: #666;
}
.main {
  padding: 20px 20px 20px 20px;
}

thead th {
  text-align: left;
}
td {
  vertical-align: top;
}

img.small-cover {
  max-height: 100px;
  box-shadow: 1px 1px 3px #888;
}
img.medium-cover {
  max-height: 200px;
  box-shadow: 1px 1px 3px #888;
}

/*
====================================================================================================
Simple Little Table by John Sardine and Orman Clark
http://johnsardine.com/example/simple-little-table/
====================================================================================================
*/
table.simple a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table.simple a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table.simple {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table.simple th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.simple th:first-child{
  text-align: left;
  padding-left:20px;
}
table.simple tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table.simple tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table.simple tr{
  padding-left:20px;
}
table.simple tr td:first-child{
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table.simple tr td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.simple tr.even td{
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.simple tr:last-child td{
  border-bottom:0;
}
table.simple tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table.simple tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
/*
====================================================================================================
Typography
====================================================================================================
*/

header a {
  font: 18px/27px 'AnuDawRegular', Arial, sans-serif; text-decoration:none;
}

h1 {font: 50px/58px 'AnuDawRegular', Arial, sans-serif;letter-spacing: 0;
color: #36A159;
margin:10px 0px 5px 0px;}

p.style2 {font: 18px/27px 'AnuDawItalic', Arial, sans-serif;}

body > .container {
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
    /*
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    */
}
/*
----------------------------------------------------------------------------------------------------
WebServeroff Regular [Local]
----------------------------------------------------------------------------------------------------
*/

@font-face {
	font-family: 'WebServeroffRegular';
	src: url('../fonts/web-serveroff/Web-Serveroff.eot');
	src: url('../fonts/web-serveroff/Web-Serveroff.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/web-serveroff/Web-Serveroff.woff') format('woff'),
		 url('../fonts/web-serveroff/Web-Serveroff.ttf') format('truetype'),
		 url('../fonts/web-serveroff/Web-Serveroff.svg#WebServeroffRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
----------------------------------------------------------------------------------------------------
WebServeroff Regular [Local]
----------------------------------------------------------------------------------------------------
*/

/* Headings 
h1, h2, h3, h4, h5, h6 { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }
*/
/* Blockquotes */
blockquote { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }

/* Forms */
label { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }

/* Widgets */
.widget_recent_tweet .tweet_text, .widget_pages li a, .widget_subpages li a, .widget_nav_menu li a, .widget_archive li, .widget_categories li, .widget_archive li li, .widget_categories li li { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }

/* Navigation */
nav.navigation, nav.navigation-mobile li { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }

/* Slide Caption */
.slide-caption,
.slide-caption p { font-family: "WebServeroffRegular", Helvetica, Arial, sans-serif; }



.object-list-outer {
  position: absolute;
  right: 0;
  width: 500px;
  margin-right:20px;
}
.object-list {
  position: absolute;
  top: 0;
  margin-top: 20px;
  padding-top: 20px;
}
.object-list.fixed {
  position: fixed;
  top: 0;
}